.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
Debug/
Release/

*.db
*.db-shm
*.db-wal

.env
.env.* 

*.log
*.tlog

.DS_Store
Thumbs.db

*.dockerignore
Dockerfile

*.http

node_modules/
dist/
build/

*.vsix
